<html>
<head>
<title>index ejs</title>
</head>
<body>
<div class="col-lg-4">
	<h1>You search for <%= data.userQuery %></h1>
<% if(data.loggedIn){ %>	
<h2>you are logged in as <%= data.username%></h2>

<% } %>
<ul>
		<!-- <li><%= data.searchResults[0] %></li> -->
		<% data.searchResults.forEach(result=>{ %>
	<li><%= result %></li>
<% }); %>
		
	</ul>

</div>
<script src="/public/js/script.js"></script>
</body>



</html>
